// By color
$black: #081A1A;
$white: #F1F7F6;

// By use
$primary: #012030;
$primaryBis: #13678A;
$secondary: #45C4B0;
$secondaryBis: #9AEBA3;
$tertiary: #DAFDBA;

// Gradient
$GradientA: linear-gradient(30deg, $primary 0%, $primaryBis 35%, $tertiary 100%);
$GradientB: radial-gradient(circle, rgba(212,255,248,0.05) 0%, rgba(190,236,255,0.05) 100%);
$GradientC: linear-gradient(30deg, rgba(8,26,26,1) 0%, rgba(1,32,48,1) 26%, rgba(10,62,84,1) 63%, rgba(1,32,48,1) 96%);

