@use "colors";

.glass {
  height: 100%;
  width: 100%;
  background-color: rgba(colors.$white, 0.06);
  box-shadow: 5px 15px 20px rgba(colors.$black, 0.06);
  border: 2px solid rgba(colors.$white, 0.05);
  backdrop-filter: blur(100px);
  //overflow: hidden;
}

.glassFilter {
  height: 100%;
  width: 100%;
  background: colors.$GradientB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(100px);
}