@use "colors";
$blur: 5px;


.glass {
  height: 100%;
  width: 100%;
  background-color: rgba(colors.$primary, 0.8);
  box-shadow: 5px 15px 20px rgba(colors.$primary, 0.06);
  border: 2px solid rgba(colors.$white, 0.01);
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
  overflow: hidden;



}

.glassFilter {
  height: 100%;
  width: 100%;
  background: colors.$GradientB;
  display: flex;
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
}