@use "../src/style/01-Color/colors";
@import "../src/style/02-Font/fonts";

.ErrorPage{
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  background: colors.$GradientA;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

.glassyest {
  background-color: rgba(colors.$white, 0.06);
  box-shadow: 5px 15px 20px rgba(colors.$black, 0.06);
  border: 2px solid rgba(colors.$white, 0.05);
  border-radius: 50px;
  //backdrop-filter: blur(100px);
  overflow: hidden;
}

.glassFiltertest {
  height: 100%;
  width: 100%;
  background: colors.$GradientB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //backdrop-filter: blur(100px);
}

.card {
  grid-column: 8 / span 3;
  grid-row: 8 / span 3;
  text-align: center;
}
.cardContent {
  padding: 15px;
}


.paragraph {
  font-family: "Sarabun", arial, sans-serif;
  font-size: 1rem;
  color: colors.$white;
}

.txtShadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.03);
}