@use "../01-Color/colors";

.button {
  background-color: unset;
  color: colors.$secondaryBis;
  border: 3px solid colors.$secondaryBis;
  border-radius: 5px;
  padding: 6px;
  width: 5vw;
  transition: all 0.25s ease;
}

.button:hover {
  background-color: colors.$secondaryBis;
  color: colors.$white;
}
.button:active {
  background-color: colors.$primaryBis;
  border: 3px solid colors.$primaryBis;

}