@use "../01-Color/colors";

.dock {
  border-radius: 16px;
  overflow: hidden;
  backdrop-filter: blur(20px);
  background-color: rgba(colors.$white, 0.2);
  box-shadow: 5px 15px 20px rgba(colors.$black, 0.06);
  border: 2px solid rgba(colors.$white, 0.05);
}