@use "../01-Color/colors";

.dock {
  //border-radius: 30px;
  overflow: hidden;
  position: relative;
  grid-column: 7 / 12;
  grid-row: 18 / span 1;
  align-self: end;
  justify-self: center;
  height: 8px;
  width: 90px;
  margin-bottom: 1vh;
  transition: all 0.6s ease;
  border-radius: 13px;

  .glassFilter {
    justify-content: center;
    align-items: center;
  }

  .dockIcon {
    opacity: 0;
    height: 3vh;
    transition: all 1s ease;
  }
}



.dock:hover {
  height: 32px;
  width: 300px;

  .dockIcon {
    opacity: 100%;
  }
}

.home {
  .dock {
    background-color: rgba(colors.$white, 1);
    box-shadow: 5px 15px 20px rgba(colors.$primaryBis, 0.06);
  }
  .dock:hover {
    background-color: rgba(colors.$primaryBis, 0.2);
  }
}

.games {
  .dock {
    background-color: rgba(colors.$primary, 1);
    box-shadow: 5px 15px 20px rgba(colors.$primaryBis, 0.06);
  }
  .dock:hover {
    background-color: rgba(colors.$primaryBis, 0.2);
  }
}