@use "../01-Color/colors";

.games {
  padding: 1vh 1vw;
  background-color: colors.$primary;;
  background: colors.$GradientC

}

.gameCards{
  grid-column: 1 / span 18;
  grid-row: 2/ span 17;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.gameCardItem {
  background-color: rgba(colors.$white,0.5);
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  height: 400px;
  margin: 10px ;

}
.gameImg {
  width: 100%;
}

