@use "../01-Color/colors";

.Header {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

// Logo
.logo {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  //background-color: #9AEBA3;

}

.logoH1 {
  font-family: "Passion One", Impact, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 2rem;
    color: colors.$white;
}

.logoH2 {
  font-family: "Guarajada", arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.8em;
  line-height: 0.5em;
  font-size: 1rem;
  color: colors.$tertiary;
}
//
// SearchBar
.searchBar {
  align-self: center;
  grid-column: 3 / span 12;
  grid-row: 1 / span 1;
}

