@use "../01-Color/colors";

.home {
  flex: 1;
  height: 100vh;
  height: 100dvh;
  width: 100wh;
  overflow: hidden;
  background-color: colors.$primary;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
  font-family: 'Reddit Mono', Arial, sans-serif;
  color: colors.$white;
}

.homeBackground {
  height: 100%;
  width: 100%;
  grid-row: 1 / span 18;
  grid-column: 1 / span 18;
  object-fit: cover;
  object-position: center;

  background-size: cover ;
  background-position: center ;
  background-repeat: no-repeat ;

  .backgroundFilter {
    height: 100%;
    width: 100%;
    background: rgb(8,26,26);
    background: linear-gradient(35deg, rgba(8,26,26,1) 0%, rgba(1,32,48,1) 13%, rgba(11,55,66,1) 33%, rgba(69,196,176,0.5) 100%);  }
}

.homeContent {
  grid-row: 1 / span 18;
  grid-column: 1 / span 18;
  padding: 1vh 1vw;

  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

// Header
.Header {
  display: grid;
  grid-row: 1;
  grid-column: 1 / span 18;
}




// Dock
.homeDetails {
  grid-row: 17 / span 1;
  grid-column: 2 / span 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.homeTitle {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: 'Passion One', sans-serif;
  //color: red;
}

.homeList {
  //background-color: white;
  flex: 1;
  display: flex;
  justify-content: start;
  font-family: "Guarajada", arial, sans-serif;
  font-weight: 600;
  color: colors.$secondaryBis;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 0.5em;
  gap: 2vw;
}