@use "../01-Color/colors";

.searchBar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.searchBarInput {
  height: 30px;
  border: none;
  background-color: rgba(colors.$primaryBis,0.4);
  border-radius: 16px;
  overflow: hidden;
  padding: 10px;
  flex: 1;
  transition: all 0.3s ease;

}
.searchBarInput {
  color: colors.$secondaryBis;
  font-size: 0.8rem;

}
.searchBarInput::placeholder {
  color: colors.$primaryBis;
}

.searchBarInput:focus {
  outline: none;
  background-color: colors.$primary;
}

.searchMode{
  //height: 100%;
  //width: 100%;
  background-color: rgba(colors.$primaryBis, 0.5);
  position: relative;
  grid-row: 2 / span 17;
  grid-column: 1 / span 18;
  border-radius: 30px;
}

