@use "../01-Color/colors";

.searchBar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.searchBarInput {
  height: 30px;
  border: none;
  background-color: rgba(colors.$primaryBis,0.4);
  border-radius: 16px;
  overflow: hidden;
  padding: 10px;
  flex: 1;
}
.searchBarInput {
  color: colors.$secondaryBis;
  font-size: 0.8rem;

}
.searchBarInput::placeholder {
  color: colors.$primaryBis;
}

.searchBarInput:focus {
  outline: none;
}