@use "../01-Color/colors";

.searchBar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.searchBarInput {
  height: 30px;
  border: none;
  background-color: rgba(colors.$primaryBis,0.4);
  border-radius: 16px;
  overflow: hidden;
  padding: 10px;
  flex: 1;
  transition: all 0.3s ease;

}
.searchBarInput {
  color: colors.$secondaryBis;
  font-size: 0.8rem;

}
.searchBarInput::placeholder {
  color: colors.$primaryBis;
}

.searchBarInput:focus {
  outline: none;
  background-color: colors.$primary;
}

.searchMode{
  height: 100%;
  width: 100%;
  background-color: rgba(colors.$white, 0.9);
  padding: 30px;
  position: relative;
  grid-row: 2 / auto;
  grid-column: 3 / span 12;
  border-radius: 30px;
  transition: all 0.25s ease;
  display: flex;
}


.searchResults {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: colors.$primaryBis;
  line-height: 1em;
  font-family: 'Gurajada';
  font-size: 1.5rem;
  //background-color: #081A1A;
}

.searchResult:hover {
  color: colors.$secondary;
}

.searchResult:active {
  color: colors.$secondaryBis;
}