@use "../01-Color/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  //overflow: hidden;
  font-family: 'Reddit Mono', Arial, sans-serif;
  overflow: hidden;
}

.home {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  overflow-y: scroll;
  background-color: colors.$primary;

}

body::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}

.page {
  flex: 1;
  height: 100vh;
  height: 100dvh;
  width: 100wh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
  color: colors.$white;
  //display: none;

}

