@import url("https://fonts.googleapis.com/css2?family=Gurajada&family=Passion+One:wght@400;700;900&family=Reddit+Mono:wght@200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  font-family: "Reddit Mono", Arial, sans-serif;
}

.page {
  flex: 1;
  height: 100vh;
  height: 100dvh;
  width: 100wh;
  overflow: hidden;
  background-color: #012030;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
  color: #F1F7F6;
}

.test {
  background: red;
  width: 50px;
  aspect-ratio: 1/1;
}

.none {
  display: none;
}

.unvisible {
  opacity: 0;
}

.glass {
  height: 100%;
  width: 100%;
  background-color: rgba(1, 32, 48, 0.8);
  box-shadow: 5px 15px 20px rgba(1, 32, 48, 0.06);
  border: 2px solid rgba(241, 247, 246, 0.01);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow: hidden;
}

.glassFilter {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, rgba(212, 255, 248, 0.05) 0%, rgba(190, 236, 255, 0.05) 100%);
  display: flex;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.title1 {
  font-family: "Passion One", Impact, sans-serif;
  letter-spacing: 0.1em;
  font-size: 1.5rem;
  grid-row: 2;
  grid-column: 1;
  position: relative;
  text-transform: uppercase;
}

.title2 {
  font-family: "Gurajada", arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.5rem;
}

.button {
  background-color: unset;
  color: #9AEBA3;
  border: 3px solid #9AEBA3;
  border-radius: 5px;
  padding: 6px;
  width: 5vw;
  transition: all 0.25s ease;
}

.button:hover {
  background-color: #9AEBA3;
  color: #F1F7F6;
}

.button:active {
  background-color: #13678A;
  border: 3px solid #13678A;
}

.Header {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.logo {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}

.logoH1 {
  font-family: "Passion One", Impact, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 2rem;
  color: #F1F7F6;
}

.logoH2 {
  font-family: "Guarajada", arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.8em;
  line-height: 0.5em;
  font-size: 1rem;
  color: #DAFDBA;
}

.searchBar {
  align-self: center;
  grid-column: 3/span 12;
  grid-row: 1/span 1;
}

.searchBar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.searchBarInput {
  height: 30px;
  border: none;
  background-color: rgba(19, 103, 138, 0.4);
  border-radius: 16px;
  overflow: hidden;
  padding: 10px;
  flex: 1;
  transition: all 0.3s ease;
}

.searchBarInput {
  color: #9AEBA3;
  font-size: 0.8rem;
}

.searchBarInput::placeholder {
  color: #13678A;
}

.searchBarInput:focus {
  outline: none;
  background-color: #012030;
}

.searchMode {
  height: 100%;
  width: 100%;
  background-color: rgba(241, 247, 246, 0.9);
  padding: 30px;
  position: relative;
  grid-row: 2/auto;
  grid-column: 3/span 12;
  border-radius: 30px;
  transition: all 0.25s ease;
  display: flex;
}

.searchResults {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #13678A;
  line-height: 1em;
  font-family: "Gurajada";
  font-size: 1.5rem;
}

.searchResult:hover {
  color: #45C4B0;
}

.searchResult:active {
  color: #9AEBA3;
}

.homeBackground {
  height: 100%;
  width: 100%;
  grid-row: 1/span 18;
  grid-column: 1/span 18;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.homeBackground .backgroundFilter {
  height: 100%;
  width: 100%;
  background: rgb(8, 26, 26);
  background: linear-gradient(35deg, rgb(8, 26, 26) 0%, rgb(1, 32, 48) 13%, rgb(11, 55, 66) 33%, rgba(69, 196, 176, 0.5) 100%);
}

.homeContent {
  grid-row: 1/span 18;
  grid-column: 1/span 18;
  padding: 1vh 1vw;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

.Header {
  display: grid;
  grid-row: 1;
  grid-column: 1/span 18;
}

.homeDetails {
  grid-row: 17/span 1;
  grid-column: 2/span 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.homeTitle {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: "Passion One", sans-serif;
}

.homeList {
  flex: 1;
  display: flex;
  justify-content: start;
  font-family: "Guarajada", arial, sans-serif;
  font-weight: 600;
  color: #9AEBA3;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 0.5em;
  gap: 2vw;
}

.games {
  padding: 1vh 1vw;
  background-color: #012030;
  background: linear-gradient(30deg, rgb(8, 26, 26) 0%, rgb(1, 32, 48) 26%, rgb(10, 62, 84) 63%, rgb(1, 32, 48) 96%);
}

.gameCards {
  grid-column: 1/span 18;
  grid-row: 2/span 17;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.gameCardItem {
  background-color: rgba(241, 247, 246, 0.5);
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  height: 400px;
  margin: 10px;
}

.gameImg {
  width: 100%;
}

.dock {
  overflow: hidden;
  position: relative;
  grid-column: 7/12;
  grid-row: 18/span 1;
  align-self: end;
  justify-self: center;
  height: 8px;
  width: 90px;
  margin-bottom: 1vh;
  transition: all 0.6s ease;
  border-radius: 13px;
}
.dock .glassFilter {
  justify-content: center;
  align-items: center;
}
.dock .dockIcon {
  opacity: 0;
  height: 3vh;
  transition: all 1s ease;
}

.dock:hover {
  height: 32px;
  width: 300px;
}
.dock:hover .dockIcon {
  opacity: 100%;
}

.home .dock {
  background-color: #f1f7f6;
  box-shadow: 5px 15px 20px rgba(19, 103, 138, 0.06);
}
.home .dock:hover {
  background-color: rgba(19, 103, 138, 0.2);
}

.games .dock {
  background-color: #012030;
  box-shadow: 5px 15px 20px rgba(19, 103, 138, 0.06);
}
.games .dock:hover {
  background-color: rgba(19, 103, 138, 0.2);
}

.error {
  background: linear-gradient(30deg, rgb(8, 26, 26) 0%, rgb(1, 32, 48) 26%, rgb(10, 62, 84) 63%, rgb(1, 32, 48) 96%);
  display: flex;
}

.glassErr {
  height: 100%;
  width: 100%;
  background-color: rgba(241, 247, 246, 0.8);
  box-shadow: 5px 15px 20px rgba(241, 247, 246, 0.06);
  border: 2px solid rgba(241, 247, 246, 0.01);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow: hidden;
}

.glassFilterErr {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, rgba(212, 255, 248, 0.05) 0%, rgba(190, 236, 255, 0.05) 100%);
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.card {
  width: 300px;
  height: 200px;
  margin: auto;
  border-radius: 10px;
}

/*# sourceMappingURL=app.css.map */
