@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
}

.home {
  flex: 1;
  height: 100vh;
  height: 100dvh;
  width: 100wh;
  overflow: hidden;
  background-color: #012030;
  padding: 1vh 1vw;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
  font-family: Sarabun, Arial, sans-serif;
  color: #F1F7F6;
}

.test {
  background: red;
  width: 50px;
  aspect-ratio: 1/1;
}

.none {
  display: none;
}

.ErrorPage {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  background: linear-gradient(30deg, #012030 0%, #13678A 35%, #DAFDBA 100%);
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

.glassyest {
  background-color: rgba(241, 247, 246, 0.06);
  box-shadow: 5px 15px 20px rgba(8, 26, 26, 0.06);
  border: 2px solid rgba(241, 247, 246, 0.05);
  border-radius: 50px;
  backdrop-filter: blur(100px);
  overflow: hidden;
}

.glassFiltertest {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, rgba(212, 255, 248, 0.05) 0%, rgba(190, 236, 255, 0.05) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(100px);
}

.card {
  grid-column: 8/span 3;
  grid-row: 8/span 3;
  text-align: center;
}

.cardContent {
  padding: 15px;
}

.title1 {
  font-family: "Staatliches", Impact, sans-serif;
  letter-spacing: 0.1em;
  font-size: 2rem;
  color: #9AEBA3;
  line-height: 0.6em;
}

.title2 {
  font-family: "Lalezar", arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1rem;
  color: #DAFDBA;
}

.paragraph {
  font-family: "Sarabun", arial, sans-serif;
  font-size: 1rem;
  color: #F1F7F6;
}

.txtShadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.03);
}

.glass {
  height: 100%;
  width: 100%;
  background-color: rgba(241, 247, 246, 0.06);
  box-shadow: 5px 15px 20px rgba(8, 26, 26, 0.06);
  border: 2px solid rgba(241, 247, 246, 0.05);
  backdrop-filter: blur(100px);
}

.glassFilter {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, rgba(212, 255, 248, 0.05) 0%, rgba(190, 236, 255, 0.05) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(100px);
}

.dock {
  grid-column: 3/span 12;
  grid-row: 18/span 1;
  border-radius: 16px;
  overflow: hidden;
}

.logo {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}

.logoH1 {
  font-family: "Staatliches", Impact, sans-serif;
  letter-spacing: 0.1em;
  font-size: 2rem;
}

.logoH2 {
  font-family: "Lalezar", arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.65em;
  line-height: 0.5em;
  font-size: 1rem;
  color: #DAFDBA;
}

.searchBar {
  background-color: rgba(19, 103, 138, 0.4);
  grid-column: 3/span 12;
  grid-row: 1/span 1;
  border-radius: 16px;
  overflow: hidden;
}

/*# sourceMappingURL=app.css.map */
