@import url("https://fonts.googleapis.com/css2?family=Gurajada&family=Passion+One:wght@400;700;900&family=Reddit+Mono:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gurajada&family=Passion+One:wght@400;700;900&family=Reddit+Mono:wght@200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  overflow: scroll;
}

.test {
  background: red;
  width: 50px;
  aspect-ratio: 1/1;
}

.none {
  display: none;
}

.title1 {
  font-family: "Passion One", Impact, sans-serif;
  letter-spacing: 0.1em;
  font-size: 2rem;
}

.title2 {
  font-family: "Gurajada", arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.5rem;
}

.ErrorPage {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  background: linear-gradient(30deg, #012030 0%, #13678A 35%, #DAFDBA 100%);
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

.glassyest {
  background-color: rgba(241, 247, 246, 0.06);
  box-shadow: 5px 15px 20px rgba(8, 26, 26, 0.06);
  border: 2px solid rgba(241, 247, 246, 0.05);
  border-radius: 50px;
  overflow: hidden;
}

.glassFiltertest {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, rgba(212, 255, 248, 0.05) 0%, rgba(190, 236, 255, 0.05) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  grid-column: 8/span 3;
  grid-row: 8/span 3;
  text-align: center;
}

.cardContent {
  padding: 15px;
}

.paragraph {
  font-family: "Sarabun", arial, sans-serif;
  font-size: 1rem;
  color: #F1F7F6;
}

.txtShadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.03);
}

.glass {
  height: 100%;
  width: 100%;
  background-color: rgba(241, 247, 246, 0.3);
  box-shadow: 5px 15px 20px rgba(8, 26, 26, 0.06);
  border: 2px solid rgba(241, 247, 246, 0.05);
  filter: blur(5px);
  overflow: hidden;
}

.glassFilter {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, rgba(212, 255, 248, 0.05) 0%, rgba(190, 236, 255, 0.05) 100%);
  background-color: #081A1A;
  display: flex;
  backdrop-filter: blur(30px);
}

.title1 {
  font-family: "Passion One", Impact, sans-serif;
  letter-spacing: 0.1em;
  font-size: 2rem;
}

.title2 {
  font-family: "Gurajada", arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.5rem;
}

.button {
  background-color: unset;
  color: #9AEBA3;
  border: 3px solid #9AEBA3;
  border-radius: 5px;
  padding: 6px;
  width: 5vw;
  transition: all 0.25s ease;
}

.button:hover {
  background-color: #9AEBA3;
  color: #F1F7F6;
}

.button:active {
  background-color: #13678A;
  border: 3px solid #13678A;
}

.dock {
  grid-column: 7/12;
  grid-row: 18/span 1;
  height: 33%;
  width: 33%;
  background-color: #9AEBA3;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.6s ease;
  justify-self: center;
  align-self: end;
}
.dock .glassFilter {
  justify-content: center;
  align-items: center;
}
.dock .dockIcon {
  opacity: 0;
  height: 3vh;
  transition: all 1s ease;
}

.dock:hover {
  height: 100%;
  width: 100%;
  margin-bottom: 1vh;
  backdrop-filter: blur(20px);
  background-color: rgba(19, 103, 138, 0.2);
  box-shadow: 5px 15px 20px rgba(8, 26, 26, 0.06);
  border: 2px solid rgba(241, 247, 246, 0.05);
}
.dock:hover .dockIcon {
  opacity: 100%;
}

.Header {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.logo {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}

.logoH1 {
  font-family: "Passion One", Impact, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 2rem;
}

.logoH2 {
  font-family: "Guarajada", arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.8em;
  line-height: 0.5em;
  font-size: 1rem;
  color: #DAFDBA;
}

.searchBar {
  align-self: center;
  grid-column: 3/span 12;
  grid-row: 1/span 1;
}

.searchBar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.searchBarInput {
  height: 30px;
  border: none;
  background-color: rgba(19, 103, 138, 0.4);
  border-radius: 16px;
  overflow: hidden;
  padding: 10px;
  flex: 1;
}

.searchBarInput {
  color: #9AEBA3;
  font-size: 0.8rem;
}

.searchBarInput::placeholder {
  color: #13678A;
}

.searchBarInput:focus {
  outline: none;
}

.home {
  flex: 1;
  height: 100vh;
  height: 100dvh;
  width: 100wh;
  overflow: hidden;
  background-color: #012030;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
  font-family: "Reddit Mono", Arial, sans-serif;
  color: #F1F7F6;
}

.homeBackground {
  height: 100%;
  width: 100%;
  grid-row: 1/span 18;
  grid-column: 1/span 18;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.homeBackground .backgroundFilter {
  height: 100%;
  width: 100%;
  background: rgb(8, 26, 26);
  background: linear-gradient(35deg, rgb(8, 26, 26) 0%, rgb(1, 32, 48) 13%, rgb(11, 55, 66) 33%, rgba(69, 196, 176, 0.5) 100%);
}

.homeContent {
  grid-row: 1/span 18;
  grid-column: 1/span 18;
  padding: 1vh 1vw;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

.Header {
  display: grid;
  grid-row: 1;
  grid-column: 1/span 18;
}

.homeDetails {
  grid-row: 17/span 1;
  grid-column: 2/span 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.homeTitle {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: "Passion One", sans-serif;
}

.homeList {
  flex: 1;
  display: flex;
  justify-content: start;
  font-family: "Guarajada", arial, sans-serif;
  font-weight: 600;
  color: #9AEBA3;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 0.5em;
  gap: 2vw;
}

.games {
  background-color: white;
  font-family: "Reddit Mono", Arial, sans-serif;
  color: #F1F7F6;
}

.gameCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.gameCardItem {
  background-color: rgba(241, 247, 246, 0.5);
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  height: 400px;
  margin: 10px;
}

.gameImg {
  width: 100%;
}

/*# sourceMappingURL=app.css.map */
